body {
	margin: 0;
	background: #f5f5f5;
	display: flex;
	justify-content: center;
	padding-top: 40px;
}

/* todo el semáforo */
.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* el cosito donde se sostiene */
.pole {
	width: 20px;
	height: 140px;
	background: black;
}

/* la caja */
.traffic {
	width: 140px;
	background: black;
	padding: 20px;
	border-radius: 20px;

	display: flex;
	flex-direction: column;
	gap: 18px;
	align-items: center;
}

/* cada foquito */
.light {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	cursor: pointer;
}

/* colores normales */
.red { background: #8b0000; }
.yellow { background: #b8860b; }
.green { background: #006400; }

/* cuando está seleccionada que le brillito */
.selected {
	box-shadow: 0 0 25px 10px rgba(255, 255, 255, 0.5);
}
